/* Define o estilo da imagem de fundo */
body {
    background-image: url('img/vista-lateral-do-engenheiro-masculino-com-capacete.jpg');
    background-size: cover; /* A imagem de fundo cobrirá todo o elemento body */
    background-repeat: no-repeat; /* Para evitar repetição da imagem de fundo */
    background-attachment: fixed; /* Fixa a imagem de fundo no viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

/* Estilize o cabeçalho */
header {
    background-color: transparent;
    text-align: center;
    padding: 20px;
    color: #007344;
}

/* Estilize o topo com margens e sombra */
.letras-topo {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
}

/* Estilize o formulário */
#formulario {
    text-align: center;
    color: #007344;
}

/* Estilize a tabela para ser responsiva */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal quando necessário */
}

/* Estilo para a tabela */
table {
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    border-collapse: separate; /* Separação de bordas entre células */
    border-spacing: 10px; /* Espaçamento entre as células */
    background-color: white; /* Cor de fundo branca */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilo para as células da tabela */
table th, table td {
    padding: 10px; /* Espaçamento interno das células */
    text-align: center; /* Centraliza o texto horizontalmente */
    vertical-align: middle; /* Centraliza o texto verticalmente */
    border: 1px solid #ccc; /* Borda sólida com cor cinza claro */
    border-radius: 10px; /* Borda arredondada para as células */
}

/* Estilo para o cabeçalho da tabela */
table th {
    background-color: #f2f2f2; /* Cor de fundo cinza claro para o cabeçalho */
}

/* Estilo para as células da coluna "Item" */
table td:nth-child(1) {
    border-radius: 20px 0 0 20px; /* Arredonda a borda superior esquerda e a borda inferior esquerda */
}

/* Estilo para as células da coluna "Item" */
table td:first-child {
    border-radius: 10px 0 0 10px; /* Arredonda a borda superior esquerda e a borda inferior esquerda */
}

/* Estilo para as células da coluna Ação */
table td:last-child {
    width: 80px; /* Largura da coluna Ação */
    border-radius: 0 10px 10px 0; /* Arredonda a borda superior direita e a borda inferior direita */

}

/* Estilo para os botões na coluna Ação */
table button {
    width: 100%; /* Largura de 100% para preencher a célula */    
}

/* Estilo para os selects */
table select {
    width: 100%;
    border-radius: 10px; /* Largura de 100% para preencher a célula */
}

/* Estilize o botão de envio */
.btn.btn-success {
    margin-bottom: 20px; /* Adicione margem inferior para aumentar o espaçamento */
}


/* Estilize o rodapé */
footer {
    text-align: center;
    background-color: #333;
    color: #007344;
    padding: 10px;
}

/* Estilize o botão de envio */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilize a área de mensagens */
#mensagens textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: #007344;
    border-radius: 10px;
}

.title_tab{
    text-align: center;
    color: #007344;
}

#mensagens{
    text-align: center;
    color: #007344;
}

footer {
    text-align: center;
    background-color: transparent;
    color: #007344;
    padding: 130px;
    background-image: url('img/logo_topo.png');
    background-size: 100%; /* Tamanho da imagem de fundo ajustado para 50% */
    background-repeat: no-repeat;
    background-position: center bottom; /* Centraliza a imagem no rodapé */
}

/* Estilo da imagem de fundo específica para index.html */

.page2-background {
    background-image: url('../SegurancaTrabalhoWebSite/img/feche-a-mao-segurando-fones-de-ouvido-de-protecao.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* Outros estilos de fundo, se necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo com efeito de vidro */
    border-radius: 10px; /* Borda arredondada */
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    align-items: center;
    justify-content: flex-start; /* Alinha o conteúdo no topo */
}

.logo-index {
    width: 60%; /* Largura reduzida para 50% do tamanho original */
    max-width: 100%; /* Não excede a largura do container */
    margin-bottom: 10px; /* Espaço entre a imagem e o título */
}

h1 {
    color: #fff; /* Cor do título branca */
    font-size: 24px;
    margin-bottom: 10px;
}

.cor-titulo-index {
    color: #fff; /* Cor do texto branca */
    font-size: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icons a {
    color: #fff; /* Cor dos ícones branca */
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease; /* Efeito de transição de cor ao passar o mouse */
}

.icons img {
    width: 50px; /* Largura desejada para a imagem */
    height: 50px; /* Altura desejada para a imagem */
    margin: 0 10px;
    vertical-align: middle; /* Alinha verticalmente ao texto */
    transition: filter 0.3s ease; /* Efeito de transição ao passar o mouse */
}

.icons a:hover img {
    filter: brightness(1.2); /* Ajuste o brilho da imagem ao passar o mouse */
}

/* Estilize os ícones e legendas */
.icon-container {
    text-align: center;
    margin: 10px; /* Espaçamento entre os ícones */
}

.icon-container img {
    width: 50px; /* Largura dos ícones */
    height: 50px; /* Altura dos ícones */
    margin-bottom: 10px; /* Espaço entre o ícone e a legenda */
}

.icon-label {
    color: #fff; /* Cor do texto da legenda branca */
    font-size: 16px;
}

/* Estilize o efeito de salto nos ícones ao clicar */
.icon-container img.clicked {
    animation: jump 0.5s linear 2; /* Efeito de salto duas vezes */
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
/* Efeito de escala no hover dos ícones */
.icon-container:hover img {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    transition: transform 0.3s ease; /* Transição suave */
}

/* Estilo da imagem de fundo específica para burcar requisitante.html */

/* CSS para o efeito "glass morphism" ocupando 50% da largura à direita */
body {
    background-image: url('img/colheita.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.glass-morphism-container {
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: none; /* Remova a borda */
    width: 50%; /* Ocupa 50% da largura da janela à direita */
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
