<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <!--HEADER-->

    <div>
      <header>
        <h1>Login</h1>
      </header>
    </div>

    <!--MAIN-->
    <div class="backgroud"></div>
    <div class="centering">
        <form class="login-form">
            <div class="login-welcome-row">
                <img 
                    class="login-welcome"
                    src="/assets/img/logo_cmaa.jpg" alt="Logo CMAA" 
                    alt="banner-cmaa"
                >
            </div>
            <div class="text-field">
                <label for="email">Usuário:</label>
                <input
                    aria-label="Email"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Sua Matrícula"
                    required
                >
                <img
                    alt="Email Icon"
                    title="Email Icon"
                    src=""
                >
            </div>
            <div class="text-field">
                <label for="password">Senha:</label>
                <input
                    id="password"
                    type="password"
                    aria-label="Password"
                    name="password"
                    placeholder="Sua senha"
                    required
                >
                <img
                    alt="Password Icon"
                    title="Password Icon"
                    src=""
                >
            </div>
        </form>
    </div>
    <div>
      <main>
        <h2>Escolha uma das opções</h2>
        <!--CONTENT-->
      </main>
    </div>

    <!--FOOTER-->

    <div>
      <footer>
        <p>Website em desenvolvimento. Todos os direitos reservados.</p>
      </footer>
    </div>

    <!--SCRIPTS-->
  </body>
</html>
